<!DOCTYPE html>
<html>
  <head>
    <%- include('../head') %>
  </head>
  <body>
    <%- include('../titleAndNav') %>
    <section>
      <header>About your book</header>
      <table>
        <tr>
          <td>pages</td>
          <td><%= text.pages %></td>
        </tr>
        <tr>
          <td>signature sequence</td>
          <td><%= text.signatureSequence %></td>
        </tr>
        <tr>
          <td colspan="2">page order</td>
        </tr>
        <tr>
          <td colspan="2">by signature</td>
        </tr>
        <% text.pageOrder.bySignature.forEach((sequence,i) => { %>
        <tr>
          <td><%= i+1 %></td>
          <td><%= sequence %></td>
        </tr>
        <% }); %>
        <tr>
          <td colspan="2">full</td>
        </tr>
        <tr>
          <td colspan="2"><%= text.pageOrder.full %></td>
        </tr>
      </table>
      <a href="/report/save">save</a>
    </section>

    <section>
      <header>Pdftk Script</header>
      <form method="post" action="/report">
        <label for="filename">filename</label>
        <input type="text" name="filename" />
        <button type="submit">Get Script</button>
      </form>
    </section>
  </body>
</html>
